.pagination {
  display: inline-block;
}
.center {
  text-align: center;
}

.pagination a {
  font-size: 22px;
  text-decoration: none;
  color: black;
  float: left;
  padding: 8px 16px;
  /* border-radius: 5px; */
  transition: background-color 0.5s;
  border: 1px solid #ddd;
  margin: 0 4px;
}
.pagination a.active {
  background-color: #4caf50;
  color: white;
  /* border-radius: 5px; */
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* breadcrumb */

.breadcrumb {
  padding: 8px 16px;
  list-style: none;
  background-color: #eee;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li + li::before {
  content: "/\00a0";
  color: black;
  padding: 8px;
}

ul.breadcrumb li a {
  color: green;
}

/* css multil-column layout */

div.newspaper {
  text-align: center;
  column-count: 3;
  column-gap: 40px;
  column-rule: 2px solid lightcoral;
  column-width: 100px;/* column  optimal width */
  /* column-fill:initial; */
  /* break-before: auto; */
  /* break-after: auto; */
  /* break-inside: auto; */
}

/* How many Columns an Element should span aross */

h2#head {
  column-span: all;
}

/* css user interface(resize and outline-offset) */

div.resize{
    margin-top:20px ;
    border: 2px solid;
    padding: 20px;
    width: 300px;
    /* resize: horizontal; */
    /* resize: vertical; */
    /* resize: both; */
    resize: none;
    overflow: auto;
    outline-offset: 7px;
    outline: 5px dashed #0000ff;
}

/* CSS variables */
:root{
  --primary-color:#007bff;
  --main-font:"sans-serif";
  --spacing:1rem;
  --theme-background:#f0f0f0;
  --shadow:0 4px 6px 0 rgba(255,0,0,0.6);
}

.buttonVar{
position: relative;
box-sizing: border-box;
margin-top: 20px;
width: 100px;
height: 50px;
background-color: var(--primary-color,#333);
}

.buttonVar span{
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* Manage fonts && space and margin  */

p.font{
  font-size: var(--font-size,14px);
  width: 200px;
  height: 50px;
  font-family: var(--main-font);
  margin: var(--spacing,1.5rem);
}

/* Responsive Design with Media Queries: */

@media screen and(max-width:768px) {
  :root{
    --font-size:16px;
  }
  
}

@media screen and (min-width:769px){
  :root{
    --font-size:28px;
  }
}

/* theming */

.dark-theme{
  --theme-background:#111;
  --border-radius:4px;
  background-color: var(--theme-background);
  width: 100px;
  height: 100px;
  color:white;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);

}


/* button styling */

:root{
  --button-bg:#007bff;
  --button-color:#fff;
}

.buttonVar{
  background-color: var(--button-bg);
  color: var(--button-color);
}

/* Dark Mode Toggle */

.dark-mode{
  --background-color:#333;
  --text-color:#fff
}
body{
  background-color: var(--background-color);
  color: var(--text-color);
}

/* color picker */

#color-change-element{
  background-color: var(--bg-color,#000);
  width: 100px;
  height: 100px;
}

/* font-size adjuster */
#adjustable-text{
  font-size: var(--font-size,16px);
}

/* interactive-button */
#interactive-button{
  background-color: var(--hover-color,coral);

}


/* Responsive Typography:media queries */

:root{
  --font-small:14px;
  --font-large:18px;
  --spacing-small:10px;
  --spacing-large:20px;
  --bg-image-small:url('https://source.unsplash.com/random/?space');
  --bg-image-large:url('https://source.unsplash.com/random/?aqua');
}

@media (max-width:768px){
  body{
    font-size: var(--font-small);
    margin: var(--spacing-small);
    color: white;
    background-image: var(--bg-image-small);
  }

  
}

@media (min-width:769px) {
body{
  font-size: var(--font-large);
  margin: var(--spacing-large);
  ;
  background-image: var(--bg-image-large);
};

}


