
.reflect{
    display: block;
    width: 200px;
    height: 100px;
    margin-top: 10px;
    /* fae out effect by gradient */
    -webkit-box-reflect:right 20px 
    linear-gradient(to bottom,rgba(0,0,0,0.0),rgba(0,0,0,0.4)) ;
}


/* Object fit */


/* Object-position prop.:-- it is  used to specfiy(img and video element) position within its container.

--> it take two values (horizontal and vertical pos. which is length,precentage or keywords)
*/

.object-fit{
    width: 200px;
    height: 400px;
    overflow: hidden;
    border: 2px solid black;
}

.object-fit img{
    /* float: left; */
    width: 100%;
    height: 100%;
    /* aspect ration preserved */
    object-fit:cover;
    object-position: 90% 50%;

}

/* image mask */

.mask1{
    -webkit-mask-image: url(https://d33wubrfki0l68.cloudfront.net/d319533ac3d22c3186498254e0caee871796a29e/d7ce9/images/css/masking/image-mask.png);
    mask-image: url(https://d33wubrfki0l68.cloudfront.net/d319533ac3d22c3186498254e0caee871796a29e/d7ce9/images/css/masking/image-mask.png);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

}

.mask2{
    -webkit-mask-image: linear-gradient(black ,transparent );
    mask-image: linear-gradient(black,transparent );
    background: url("https://source.unsplash.com/random/500x250/?cat") no-repeat;
    max-width: 600px;
    height: 350px;
    overflow-y: scroll;

}
.mask2 p{
    font-size: 20px;
    color: white;
    padding:20px ;

}

.mask3{
    width: 500px;
    height: 300px;
    -webkit-mask-image: radial-gradient(ellipse,black 50%,rgba(0,0,0,0.4) 50%);
    mask-image: radial-gradient(ellipse,black 50%,rgba(0,0,0,0.4) 50%);
}

/* css buttons */
.buttons{
    position: relative; 
    width: 100%;
    max-width: 400px;
    background: url("../imgs/sj-objio-XFWiZTa2Ub0-unsplash.jpg");
}

.btn{
    /* postions */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);

    float: left;
    display: block;
    margin: 20px 0 ;
    background-color: black;
    border: none;
    /* display: inline-block; */
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;

}
#btn1{
    background-color: green;
    font-size: 10px;
    padding: 10px 24px;
    border-radius: 4px;
    border: 2px solid orange;
    transform: 0.5s;
}
#btn2{
    background-color: red;
    font-size: 12px;
    padding: 12px 28px;
    border-radius: 6px;
    border: 2px solid aqua;
    transform: 0.5s;
}
#btn3{
    background-color: blue;
    font-size: 16px;
    padding: 14px 40px;
    border-radius: 8px;
    border: 2px solid darkcyan;
    transform: 0.5s;
}
#btn4{
    background-color: gray;
    font-size: 20px;
    padding: 32px 16px;
    border-radius: 12px;
    border: 2px solid palevioletred;
    transform: 0.5s;
}
#btn5{
    background-color: #222;
    font-size: 24px;
    padding: 16px;
    border-radius: 50%;
    border: 2px solid lightcoral;
    transform: 0.5s;
}

#btn1:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 0.6;
    cursor: not-allowed;
    width:50%;
    background-color: white;
    color: black;
}
#btn2:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 0.6;
    cursor: not-allowed;
    width:50%;
    background-color: white;
    color: black;
}
#btn3:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 0.6;
    cursor: not-allowed;
    width:50%;
    background-color: white;
    color: black;
}
#btn4:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 0.6;
    cursor: not-allowed;
    width:50%;
    background-color: white;
    color: black;
}
#btn5:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 0.6;
    cursor: not-allowed;
    width:50%;
    background-color: white;
    color: black;
}
/* button  arrow*/
#btn6{
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transform: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 9px #999;
    opacity: 0.6;
}
#btn6:hover{
    background-color: red;
    opacity: 1;
}

#btn6 span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#btn6 span::after{
content: "\00bb";
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;

}

#btn6:hover span{
    padding-right: 25px;
}

#btn6:hover span::after{
    opacity: 1;
    right: 0;
}

#btn6:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}