#linear-grad {
  border: 2px solid black;
  border-radius: 0 40px 0 40px;
  width: 100px;
  height: 100px;
  /* background-image:linear-gradient(to right,rgba(255,0,0),rgba(255,0,0,0.4)); */
  background-image: repeating-linear-gradient(
    to bottom right,
    aqua,
    #333 20%,
    white 20%
  );
}
#radial-grad {
  margin-top: 10px;
  border-radius: 40px 0 40px 0;
  border: 2px solid black;
  width: 100px;
  height: 100px;
  /* default:ellipse */
  background-image: radial-gradient(
    circle farthest-corner at center,
    white 20%,
    violet 40%,
    black
  );
  background-image: repeating-radial-gradient(white, black 10%, lightgreen 15%);
}

#conic-grad {
  margin-top: 10px;
  border-radius: 50%;
  border: 2px solid black;
  width: 100px;
  height: 100px;

  /* default angle and position is 0deg and center */
  background-image: conic-gradient(red, yellow, green, blue, black);

  background-image: conic-gradient(red 45deg, yellow 90deg, green);

  background-image: conic-gradient(
    red 0deg,
    red 90deg,
    yellow 90deg,
    yellow 180deg,
    green 180deg,
    green 270deg,
    blue 270deg
  );

  /* spec. from angle */
  background-image: conic-gradient(from 90deg, red, black, aqua);

  /* spec. center position */
  background-image: conic-gradient(at 60% 45%, red, black, aqua);

  background-image: repeating-conic-gradient(black 10%, lightgreen 20%);
  background-image: repeating-conic-gradient(
    rebeccapurple 0deg 20deg,
    cyan 20deg 40deg,
    deeppink 40deg 120deg
  );
  background-image: repeating-conic-gradient(
    rebeccapurple 45deg,
    cyan 90deg,
    deeppink 135deg
  );
}

/* css shadow effect */

/* text-shadow */
#text-shad {
  text-shadow: 2px 2px 3px lightseagreen;
  /* multiple shadow */
  text-shadow: 2px 2px 3px lightseagreen, 2px 2px 3px deeppink;
  color: coral;
  text-shadow: -1px 0 black, 0 1px black, 0 1px black, 0 1px black;
}

/* box-shadow */
/* deafult color of shadow is current text color */
.card {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.header {
  color: white;
  background-color: darkorange;
  padding: 10px;
  font-size: 40px;
}

div.container {
  padding: 10px;
}

.card2 {
  margin-top: 10px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* css text-effect */

p.test1 {
  white-space: nowrap;
  width: 200px;
  border: 1px solid black;
  overflow: hidden;
  text-overflow: clip;
  word-wrap: break-word;
}

p.test2 {
  white-space: nowrap;
  width: 200px;
  border: 1px solid black;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  writing-mode: horizontal-bt;
}

p.test1:hover,
p.test2:hover {
  overflow: visible;
  white-space: wrap;
  word-break: break-all;
}

span.test2 {
  writing-mode: vertical-lr;
}

/* css web fonts  */
@font-face {
  font-family: myfirstfont;
  src: url("../fonts/Amatic_SC/AmaticSC-Bold.ttf");
}

p.font-test {
  font-family: myfirstfont;
  font-size: 24px;
  background-color: #333;
  color: white;
  padding: 10px;
}

/* CSS 2D Transforms */

div.translate {
  width: 200px;
  height: 100px;
  padding: 10px;
  margin: 10px;
  border: 2px solid #333;
  text-align: center;
  background-color: aquamarine;
  /* increase and decrase 2 time width and 3 times height */
  transform: translate(50px, 50px) rotate(-20deg) scale(0.7, 0.5) scaleX(2)
    scaleY(2) skewX(45deg) skewY(20deg) skew(20deg 30deg);

  /* transform: matrix(scaleX,skewY,skewX,scaleY,translateX,translateY); */
  transform: matrix(1, -0.9, 0, 1, 0, 0);
}
/* 3D transforms */
#transform3D {
  width: 300px;
  height: 100px;
  background-color: red;
  border: 2px solid black;
}

#transform3D:hover {
  transform: translate3d(50px, 20px, 10px) rotate3d(1, 0, 1, 120deg);
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

#hello {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 0, 0, 1);
  border: 2px solid black;
  transition: width 1s ease-in, border-radius 2s linear, transform 2s,
    background-image 2s;
}

#hello:hover {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transform: rotate(360deg);
  background: url("https://source.unsplash.com/random/200X200/?radial-gradient")
    50% 50%;
}

/* CSS translate */

.translate2 {
  background-color: violet;
  width: 100px;
  height: 100px;
  margin-top: 5px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 50%;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.translate2:hover {
  /* transform: translate3d(10px,20px,10px); */
  /* transform:translate(200px,-100px) scale(1.1,1.5); */
  transform: scale(1.1);
  background: url("https://source.unsplash.com/random/100x100/?love,hate");
}

/* css transitions */

.translate3 {
  width: 100px;
  height: 100px;
  transition: width 2s, height 2s, background-color 4s;
  background-color: greenyellow;
  border: 2px solid black;
  margin-top: 10px;
}

.translate3:hover {
  width: 200px;
  height: 200px;
  background-color: white;
  animation: circle 2s ease-in-out infinite;
}

@keyframes circle {
  0% {
    border-radius: 0;
    transform: rotate(0deg);
  }
  50% {
    border-radius: 50%;
    border-top: 4px solid red;
    border-bottom: 4px solid blue;
    border-left: 4px solid yellow;
    border-right: 4px solid green;
    transform: rotate(180deg);
    background: url("https://source.unsplash.com/random/200x200/?happy") 50% 50%;
  }

  100% {
    border-radius: 0;
    transform: rotate(360deg);
  }
}

/* css Animations */

#animation {
  width: 100px;
  height: 100px;
  position: relative;
  margin-top: 10px;
  background-color: red;
  animation: myAnimation2 4s ease-in-out 2 2s alternate,
    rotate 4s ease-in-out 2 2s alternate forwards running;
  text-align: center;
}

@keyframes myAnimation {
  from {
    background-color: red;
  }
  to {
    background-color: blue;
    border-radius: 50%;
  }
}
@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes myAnimation2 {
  25% {
    background-color: rgba(255, 63, 63, 1);
    left: 0;
    top: 0;
  }
  50% {
    background-color: rgba(255, 126, 126, 0.55);
    left: 200px;
    top: 0;
  }
  75% {
    background-color: rgba(255, 252, 252, 0.5);
    left: 200px;
    top: 200px;
  }
  100% {
    background-color: rgba(255, 200, 200, 0.75);
    left: 0;
    top: 200px;
  }
  100% {
    background-color: rgba(255, 40, 80, 1);
    left: 0;
    top: 0;
  }
}
/* use cases */

.button {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-align: center;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.pulse {
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    background-color: #3498db;
  }

  50% {
    transform: scale(1.2);
    background-color: #374c3c;
  }

  100% {
    transform: scale(1);
    background-color: #3498db;
  }
}

/* Typing-Text */

.typing-text {
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(18) infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* spinner */

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #3498db;
  border-bottom: 4px solid transparent;
  border-radius: 50%;
  animation: rotate3 2s linear infinite;
}
@keyframes rotate3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* fadding slideshow */

.slideshow {
  width: 300px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.slideshow img {
  width: 100%;
  height: auto;
  position: absolute;
  animation: fade 5s ease-in-out infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* tooltips */

.tooltip {
  display: inline-block;
  position: relative;
  cursor: help;
}

.tooltip .tooltiptext {
  width: 120px;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 125%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* tooltips positions */

/* tooltip right */
.tooltip2 {
  position: relative;
  display: inline-block;
  cursor: help;
  border-bottom: 2px dotted black;
}

.tooltip2 .tooltiptextRight {
  width: 120px;
  background-color: black;
  color: white;
  padding: 5px 0;
  border-radius: 6px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;

  /* positioning the tooltip to right*/
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip2 .tooltiptextRight::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 100%; /* to the left of the tooltip*/

  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip2:hover .tooltiptextRight {
  visibility: visible;
  opacity: 1;
}

/* tooltips top */
.tooltip3 {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: help;
}

.tooltip3 .tooltiptextTop {
  width: 120px;
  background-color: black;
  color: #fff;
  padding: 5px;
  border-radius: 6px;
  visibility: hidden;
  font-size: 12px;
  transition: visibility 0.5s, opacity 0.5s;
  text-align: center;
  opacity: 0;
  margin-left: -60px;

  /* tooltips postion Top */
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
}

.tooltip3 .tooltiptextTop::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;

  margin-left: -6px;
  border-width: 6px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.tooltip3:hover .tooltiptextTop {
  visibility: visible;
  opacity: 1;
}

/* tooltip left */
.tooltip4 {
  display: inline-block;
  position: relative;
  cursor: help;
  border-bottom: 1px dotted black;
  left: 50%;
}

.tooltip4 .tooltiptextLeft {
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  visibility: hidden;
  transition: visibility 0.5s, opacity 0.5s;
  opacity: 0;
  /* position to left */
  position: absolute;
  top: -5px;
  right: 115%;
}
.tooltip4 .tooltiptextLeft::after {
  content: " ";

  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}
.tooltip4:hover .tooltiptextLeft {
  visibility: visible;
  opacity: 1;
}

/* tooltip to bottom */

.tooltip5 {
  position: relative;
  display: inline-block;
  cursor: help;
  border-bottom: 1px dotted black;
}

.tooltip5 .tooltiptextBottom {
  width: 120px;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 6px;
  text-align: center;
  transition: visibility 0.5s opacity 0.5s;
  visibility: hidden;
  margin-left: -60px;
  opacity: 0;
  font-size: 12px;

  /* position to bottom */
  position: absolute;
  z-index: 1;
  top: 115%;
  left: 50%;
}
.tooltip5 .tooltiptextBottom::after {
  content: "";

  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip5:hover .tooltiptextBottom {
  visibility: visible;
  opacity: 1;
}

/* css image styling */

div.img1{
  margin-top: 20px;
  max-width:50% ;
  height: 200px;
  border: 1px solid black;
  background-color: #fff;
  box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2),0 6px 20px 4px rgba(0,0,0,0.19);
  margin-bottom: 25px;
}

div img{
display: block;
width: 100%;
height: 80%;
margin-left:auto ;
margin-right: auto;
opacity: 0.6;

}

div.img-first:hover{
/* img filter */
filter: blur(4px);
filter: brightness(200%);
filter:contrast(180%);
filter:grayscale(100%);
filter:hue-rotate(180deg);
filter:invert(100%);
filter:opacity(50%);
filter: saturate(7);
filter: sepia(100%);
filter: drop-shadow(8px 8px 10px green);
}

div.container{
  text-align: center;
  padding: 10px 20px;
}

/* image Hover Overlay */

/* div.contianer2{
  position: relative;
  width: 500px;
}

.image{
  display: block;
  width: 100%;
  height: 300px;
} */

 /* div.overlay{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
} */

/* .container2:hover .overlay{
  opacity: 1;
}

.text{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
} */

/* image-flip */

div.imgFlip{
  width: 400px;
  height: 400px;
}
.imgFlip img:hover{
  transform: scaleX(-1);
}

/* responsive Image gallery */

div.gallery{
  border: 1px solid #ccc;
}

div.gallery:hover{
  border: 1px solid #777;
}

div.gallery img{
  width: 100%;
  height: auto;
}

div.desc{
  padding: 15px;
  text-align: center;
}

*{
  box-sizing: border-box;
}

.responsive{
  padding:  0 6px;
  float: left;
  width: 49.99999%;

}

@media screen and (max-width:700px) {
  .responsive{
    width: 49.99999%;
    margin: 0;
  }
}

@media screen and (max-width:500px){
  .responsive{
    width: 100%;
  }
  
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

#imgModal{
  display: inline-block;
  width: 150px;
  height: 40px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
  background-color: black;
  color: #fff;
  border-radius: 10px;
  box-shadow: 3px 5px 10px 1px rgba(0,0,255,0.9);
}