/* global variables */
:root{
    --borderWidth:10%;
    --borderheight:10%;
}


/* css border-radius */


#rcorners1{
background-color: red;
width: var(--borderWidth);
height: var(--borderheight);
padding :20px;
border-radius: 25px;
}

#rcorners2{
border: 4px solid red;
width: var(--borderWidth);
height: var(--borderheight);
padding:20px;
border-radius: 25px;
}

#rcorners3{
    background-image: url('../imgs/sj-objio-XFWiZTa2Ub0-unsplash.jpg');
    background-position:left top ;
    background-repeat: repeat;
    padding: 20px;
    width: var(--borderWidth);
    height: var(--borderheight);
    border-radius: 25px;
}


#radius-b1{
    background-color: lightgreen;
    width: var(--borderWidth);
    height: var(--borderheight);
    padding: 20px;
    border: 2px solid #333;
    border-radius: 0 40px 0 5px;
}
#radius-b2{
    background-color: lightblue;
    width: var(--borderWidth);
    height: var(--borderheight);
    padding: 20px;
    border: 2px solid #333;
    border-radius: 20px 50px 5px;
}
#radius-b3{
    background-color: lightseagreen;
    width: var(--borderWidth);
    height: var(--borderheight);
    padding: 20px;
    border: 2px solid #333;
    border-radius: 5px 100px 5px 100px;
}
#radius-b4{
    background-color:lightslategrey;
    width: var(--borderWidth);
    height: var(--borderheight);
    padding: 20px;
    border: 2px solid #333;
    border-radius: 100px 50px;
}

/* css Border img */


#borderimg{
    width: var(--borderWidth);
    padding:20px;
    border: 20px solid transparent;
    /* border-image:source slice width outset repeat */
    border-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet) 20% round;
}

/* css multiple background */

#bg-image{
    --mywidth:300px;
    --myheight:200px;
    width: var(--mywidth);
    height: var(--myheight);

    /* short hand prop. */
    
    /* background:[color] [image(url)] [repeat] [attachment] [position] / [size] [origin] [clip];  */

    /* background:url("https://source.unsplash.com/random/?flower") right bottom no-repeat, url("https://source.unsplash.com/random/?tree") top left no-repeat,url("https://source.unsplash.com/random/?black") bottom right repeat ; */
    background-size: 50px, 50px, cover;
}

/* bg-img on website covers the entire browser window at all times */
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    /* background: url("https://source.unsplash.com/random/?paradise") no-repeat center fixed ; */
    background-size: cover;
}

.hero-image{
    position: relative;
    background:url("https://source.unsplash.com/random/?programmer") no-repeat center ;
    height:500px;
    background-size: cover;
}

.hero-text{
    text-align: center;
    position: absolute;
    left: 50%;
    right: 50%;
    /* transform: translate(-50%,-50%); */
    color: white;
    text-shadow: 3px 3px 20px  blue;
    background-origin: padding-box;
}
/* bg-origin and bg-clip */
.example{
    border: 10px dotted red;
    padding: 35px;
    background: url("https://source.unsplash.com/random/200x200/?flower");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-clip: content-box ;
}
/* css hsla and rgba or color keywords */
#hsla{
    background-color: hsla(0, 100%, 50%, 0.9);
}
#rgba{
    color: rgb(228, 14, 49);
    background-color: rgba(0, 0, 255, 1);
}

.colorkeywords{
    background-color: transparent;
    background-color: currentColor;
    background-color: inherit;
    border: 2px solid black;
    padding: 15px;
};

