.header{
    grid-area: header;
}
.main{
    grid-area: main;
}
.sidebar{
    grid-area: sidebar;
}
.footer{
    grid-area: footer;
}

.container{
    display: grid;
    /* grid column and rows  */
    /* grid-template-columns:1fr 1fr ;
    grid-template-columns:minmax(10px,1fr) 3fr;
    grid-template-columns:repeat(3,2fr) ; */
    /* grid-template-columns:50px auto  1fr; */
    /* grid-template-rows: min-content 1fr min-content 100px 1fr max-content; */
    /* grid-template-columns:[first] 40px [line2] 50px [line3] auto [col-4-start] 50px [five] 40px [end]; */
    /* grid-template-rows: [row1-start] 25% [row1-end ro2-start] 100px [third-line] auto [last-line]; */
    /* grid-template-columns: repeat(6,20px [col-start]); */
    grid-template-columns: 1fr 1fr 4fr;

    gap: 10px;


    background-color: lightskyblue;
    padding: 20px;
}

.item{
    /* grid-column-start: col-start 1; */
    background-color: darkorange;
    padding: 20px;
    border: 1px solid #333;
    text-align: center;
    font-size: 24px;
}


.header{grid-area: header;}
.main{grid-area: main;}
.sidebar{grid-area: sidebar;}
.footer{grid-area: footer;}

.container2{
    background-color: #f2f2f2;
    padding: 20px;
    /* grid */
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header header header"
    "main main main main sidebar sidebar "
    "footer footer footer footer footer footer";
    gap: 10px;
}

.header{
    background-color: #333;
    color: #fff;
    padding: 20px;
    border: 1px solid #333;
    text-align: center;
    font-size: 24px;
}

.main{
    background-color: #ccc;
    color: #444;
    padding: 20px;
    border: 1px solid #333;
    text-align: center;
    font-size: 16px;
}
.sidebar{
    background-color: lawngreen;
    color: #555;
    padding: 20px;
     border: 1px solid #333;
    text-align: center;
    font-size: 16px;
}
.footer{
    background-color: orange;
    color: #555;
    padding: 20px;
     border: 1px solid #333;
    text-align: center;
    font-size: 24px;
}

.container3{
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: grid;
    grid-template-columns: 50px 50px 50px ;
    gap: 10px;
    height: 500px;

    /* align grid itemss along the inline(row)axis */
    justify-items: center;

    /* aligns grid items along the block(columns) axis*/
    align-items:center;

    /* place items shorthand both */
    place-items: center;


    /* justify-content: center; */
    justify-content: space-evenly;
    align-content: space-evenly;

    /* place content shorthand both  */
    place-content:space-evenly ;
    /* grid-auto-columns: 200px ;
    grid-auto-rows: 5fr ; */

}

.container3 > .item{
    background-color: rgb(250, 180, 49);
    border: 1px solid #fff;
    padding: 20px;
    text-align: center;
    font-size: 28px;
}

.container4{
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2,90px);
    grid-auto-columns: 100px 100px ;
    grid-auto-rows: 90px 90px;
    grid-auto-flow: column;
    gap: 10px;
  
    background-color: rgb(77, 77, 228);
    padding: 20px;
    height: 500px;
}

.container4 > .item{
    color: #333;
    background-color: rgb(245, 241, 233);
    border: 1px solid #fff;
    padding: 20px;
    text-align: center;
    font-size: 28px;
}

.container4>.item-a{
    /* grid-column: 1/2; */
    /* grid-row: 3/5;  */
    grid-column: 1;
    grid-row: 1/3;
    background-color: palevioletred;

}
.container4>.item-b{
    /* grid-column: 5/6; */
    /* grid-row: 3/5; */
    grid-column:5 ;
    grid-row: 1/3;
    background-color: olive;
}

/* property of grid child */

.container4 > .item2{
 z-index: 1;
background-color: rgb(241, 138, 241);
grid-column-start:3 ;
grid-column-end: span 2;
grid-row-start: 1;
grid-row-end: 3;
/* shorhand */
grid-column: 3/ span 2;
grid-row: 1/3;
}

.container4>.item1{
    background-color: firebrick;
    z-index: 1;
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
    /* shorhand */
    grid-column: 6/7;
    grid-row: 1/3;
    /* more shorthand */
    /* grid-area: row-start/column-start/row-end/col-end */
    grid-area: 1/6/3/7;
}

.container5{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;

    background-color: rgba(45, 104, 7, 0.932);
    margin-top: 10px;
    padding: 20px;
    height: 300px;
}

.container5>.item{
    color: #333;
    background-color: rgb(241, 238, 10);
    border: 1px solid #fff;
    padding: 20px;
    text-align: center;
    font-size: 28px;
}

.container5>.boy4{
background-color: red;
justify-self:stretch;
align-self: center;
/* shorthand */
place-self: stretch center;
}