.dropdown{
    display: inline-block;
    position: relative;
}

.dropdown-content{
    position: absolute;
    display: none;
    min-width: 160px;
    background-color: #d41c1c;
    text-align: center;
    font-family: sans-serif;
    color: white;
    padding: 12px 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) ;
    z-index: 1;

}

.dropdown:hover .dropdown-content{
    display: block;
}


/* DropDown Menu */

.dropbtn{
    background-color: #04aa6d;
    color: white;
    font-size: 16px;
    padding: 14px;
    border: none;
    cursor: pointer;
    margin: 20px 0px;
}

.dropdown2{
    display: inline-block;
    position: relative;
    margin: 20px;
}

.dropdown-content2{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content2 a{
    display: block;
    font-family: sans-serif;
    padding: 12px 16px;
    text-decoration: none;
    color: #333;
}

.dropdown2:hover .dropdown-content2{
    display: block;
}

.dropdown2:hover .dropbtn{
    background-color: darkgreen;
}

/* aligned DropDown Content */

.dropbtn3{
    background-color: #04aa6d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown3{
    position: relative;
    display: inline-block;
}

.dropdown-content3{
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content3 a{
    display: block;
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    font-family: sans-serif;

}

.dropdown-content3 a:hover{
    background-color:#f1f1f1 ;
}

.dropdown3:hover .dropdown-content3{
    display: block;
}

.dropdown3:hover .dropbtn3{
    background-color: rgb(4, 102, 4);

}


/* dropDown Image */

.dropdown4{
    position: relative;
    display: inline-block;
}

.dropdown-content4{
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
}

.dropdown4:hover .dropdown-content4{
display: block;
}


.desc{
padding: 14px;
text-align: center;
font-family: sans-serif;
font-variant:small-caps;
font-weight: bold;

}

